@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Pretendard 폰트 */
  @font-face {
    font-family: 'Pretendard';
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  /* GeistMono 폰트 */
  @font-face {
    font-family: 'GeistMono';
    src: url("/src/assets/fonts/GeistMono-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'GeistMono';
    src: url("/src/assets/fonts/GeistMono-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: 'GeistMono';
    src: url("/src/assets/fonts/GeistMono-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'GeistMono';
    src: url("/src/assets/fonts/GeistMono-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'GeistMono';
    src: url("/src/assets/fonts/GeistMono-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: 'GeistMono';
    src: url("/src/assets/fonts/GeistMono-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
  }
  @font-face {
    font-family: 'GeistMono';
    src: url("/src/assets/fonts/GeistMono-Thin.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
  }
  @font-face {
    font-family: 'GeistMono';
    src: url("/src/assets/fonts/GeistMono-UltraBlack.woff2") format("woff2");
    font-weight: 950;
    font-style: normal;
  }
  @font-face {
    font-family: 'GeistMono';
    src: url("/src/assets/fonts/GeistMono-UltraLight.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
  }

  /* Greycliff 폰트 */
  @font-face {
    font-family: 'Greycliff CF';
    src: url('/src/assets/fonts/GreycliffCF-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Greycliff CF';
    src: url('/src/assets/fonts/GreycliffCF-Heavy.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
  }

  /* EASTARJET 폰트 */
  @font-face {
    font-family: 'EASTARJET';
    src: url("/src/assets/fonts/EASTARJET-DemiLight.woff2") format('woff2');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'EASTARJET';
    src: url("/src/assets/fonts/EASTARJET-Medium.woff2") format('woff2');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'EASTARJET';
    src: url("/src/assets/fonts/EASTARJET-Heavy.woff2") format('woff2');
    font-weight: 700;
    font-style: normal;
  }

  /* 삼립호빵 폰트 */
  @font-face {
    font-family: 'SDSamliphopangche';
    src: url('/src/assets/fonts/SDSamliphopangcheBasic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
}